
element{
    background-color: lightseagreen;
}

body{
    background-color: rgb(204, 204, 204);
    border-color: rgb(47, 47, 47);
    border-top-right-radius: 4%;

}

h1{
    font-weight: 575;
    overflow-y: 100px;
    text-align: center;
}

p {
    text-align: match-parent;
    font-weight: 400;
    font-size: medium;
    text-wrap: balance;
    word-wrap: balance;

}

#rectangle{
    width:500 px;
    height:400 px;
    background-color: white;
}

.nav_tools{
    overflow: hidden;
}

.nav_tools ul{
    list-style-type: none;
    padding: 0;
}

.nav_tools li{
    display: inline-block;
    margin-right: 10px;

}

.spacing li{
    margin-right:10px;
    padding-right: 10px;
}


aside {
    width: 35%;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    font-style: italic;
    color: #4d4d4d;
}

#imp{
    color: blue;
    font-weight:bold;


}

#imp2{
    color: black;
    font-weight: bold;

}
