element{
    
    background-color: greenyellow;
}

body{
    background-color: lightblue;
}

h1{
    font-weight: 575;
    overflow-y: 100px;
    text-align: center;
}

p {
    text-align: match-parent;
    font-weight: 400;
    font-size: medium;

}

#rectangle{
    width:500 px;
    height:400 px;
    background: lightgreen;
}

#Navigation_Tools {
    position: relative

}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
  }
